*{
    margin: 0;
    padding: 0;
    list-style-type: none;
    outline: none;
    box-sizing: border-box;
}

/* CONTAINER */

.container{
    width: 100%;
    max-width: 1005px;
    margin: 0 auto;
}

/* HEADER */

.header{
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 3;
}
.header__top{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 8vh;
}
.nav__link{
    color: #464646;
    text-transform: uppercase;
    font: 700 14px 'Roboto', sans-serif;
    text-decoration: none;
    margin-right: 33px;
    transition: all .2s linear;
}
.nav__link:last-child{
    margin-right: 0;
}
.nav a:hover{
    color: #ffffff;
}

/* INTRO */

.section__intro{
    background-color: #ffc038;
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.intro__content{
    width: 100%;
    display: flex;
    padding-top: 10vh;
}
.intro__left{
    width: 35%;
}
.intro__left h2{
    color: #ffffff;
    text-transform: uppercase;
    margin-bottom: 5.9vh;
    font: 500 5.9vh 'Roboto', sans-serif;
}
.intro__left p{
    color: #ffffff;
    font: 300 2.2vh 'Roboto', sans-serif;
    line-height: 2;
    margin-bottom: 5vh;
}
.btn{
    background-color: #464646;
    width: 150px;
    height: 50px;
    border: none;
    font: 300 2.3vh 'Roboto', sans-serif;
    color: #ffffff;
    border-radius: 3px;
    transition: all .2s linear;
    box-shadow: 2px 2px 8px -1px rgba(0,0,0,0.75);
}
.btn:hover{
    cursor: pointer;
    background: #262626;
    transform: scale(1.05);
}
.btn i{
    margin-left: 10px;
    color: #ffffff;
    font-size: 3.5vh;
}
.intro__right{
    width: 65%;
}
.devices{
    width: 100%;
    height: 50vh;
    margin: 0 auto;
    position: relative;
    max-width: 620px;
}
.mac img{
    position: absolute;
    top: 20%;
    left: 0;
    z-index: 1;
}
.iphone img{
    position: absolute;
    top: 33.5%;
    left: 80%;
    z-index: 2;
}

/* SECTION */

.section{
    padding: 110px 0;
    position: relative;
}
.title{
    width: 395px;
    height: 55px;
    background: #464646;
    color: #ffffff;
    text-transform: uppercase;
    font: 600 26px 'Source Sans Pro', sans-serif;
    border-radius: 3px;
    box-shadow: 2px 2px 8px -1px rgba(0,0,0,0.75);
    margin: auto;
    text-align: center;
    align-items: center;
    padding: 10px 0;
    margin-bottom: 110px;
}

/* WHAT WE DO */

.wedo__elem{
    width: 100%;
    display: flex;
    margin-bottom: 110px;
}
.wedo__elem:last-child{
    margin-bottom: 0;
}
.wedo__col{
    width: 50%;
}
.wedo__col.img{
    margin-right: 70px;
}
.wedo__col.img.a {
    margin-right: 0;
    margin-left: 70px;
}
.wedo__img{
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
}
.wedo__col h3{
    font: 600 18px 'Roboto', sans-serif;
    color: #252525;
    margin-bottom: 20px;
}
.wedo__col p{
    font: 400 14px 'Roboto', sans-serif;
    color: #363636;
    line-height: 1.7;
    margin-bottom: 15px;
}
.btn.yl{
    background-color: #ffc038;
    font: 700 12.5px 'Open Sans', sans-serif;
    text-transform: uppercase;
    color: #464646;
}
.btn.yl:hover{
    transform: scale(1.05);
    background-color: #464646;
    color: #ffffff;
}

/* HOW WE WORK */

.section.section__wework{
    padding: 85px;
    background-image: url(../images/wework.jpg);
    background-size: cover;
    background-position: center;
}
.wework{
    margin-bottom: 20px;
}

/* OUR FEATURES */

.section__features{
    padding-bottom: 0;
}
.features{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}
.title.f{
    margin-bottom: 135px;
}
.features__elem{
    width: 33.3%;
    display: flex;
    flex-wrap: nowrap;
    margin-bottom: 55px;
    padding: 15px 8px;
    transition: all .2s linear;
}
.features__elem.a{
    margin-bottom: 10px;
}
.features__elem:hover{
    background-color: #fbc73a;
    cursor: pointer;
}
.features__icon img{
    width: 45px;
    height: 45px;
    margin-right: 7px;
    margin-top: -8px;
}
.features__cont h3{
    font: 400 18px 'Roboto', sans-serif;
    color: #363636;
    margin-bottom: 15px;
}
.features__cont p{
    font: 300 14px 'Roboto', sans-serif;
    color: #636363;
    line-height: 1.7;
}

/* OUR PACKAGES */

.packages{
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 0 50px;
}
.package__elem{
    width: 33.3%;
    text-align: center;
}
.package__main.standart{
    border-right: 1px solid #fbc73a;
    border-left: 1px solid #fbc73a;
}
.package__main li{
    border-bottom: 1px solid #fbc73a;
}
.package__main li:first-child{
    border-bottom: none;
}
.package__main li:last-child{
    border-bottom: none;
}
.package__name{
    font: 400 22.5px 'Roboto', sans-serif;
    margin-bottom: 45px;
}
.package__name.basic{
    color: #8d8d8d;
}
.package__name.standart{
    color: #f26c4f;
}
.package__name.standart{
    font-size: 27px;
    margin-top: -6.5px;
}
.package__name.premium{
    color: #fbc73a;
}
.package__list{
    font: 600 15.8px 'Roboto', sans-serif;
    color: #b3b3b3;
    line-height: 3;
}
.package__list.active{
    color: #363636;
}
.package__numb{
    font: 400 25px 'Roboto', sans-serif;
    padding-top: 50px;
    margin-bottom: 50px;
}
.package__numb.basic{
    color: #8d8d8d;
}
.package__numb.standart{
    color: #f26c4f;
}
.package__numb.premium{
    color: #fbc73a;
}
.package__numb.active{
    padding-top: 25px;
}
.package__numb span{
    font-size: 35px;
}
.package__numb.active span{
    font-size: 68px;
}
.btn.package{
    width: 195px;
    height: 45px;
    font: 500 15.5px 'Roboto', sans-serif;
    text-transform: uppercase;
    box-shadow: 2px 2px 2px -1px rgba(0,0,0,0.5);
}
.btn.package.basic{
    background-color: #8d8d8d;
}
.btn.package.standart{
    background-color: #f26c4f;
}
.btn.package.premium{
    background-color: #fbc73a;
}
.btn.package.active{
    width: 215px;
    height: 60px;
    margin-top: -15px;
}
.btn.package:hover{
    transform: scale(1.05);
}


/* OUR HISTORY */

.section.section__history{
    padding: 65px;
    background-image: url(../images/wework.jpg);
    background-size: cover;
    background-position: center;
}
.title.h{
    width: 220px;
    height: 55px;
    margin: 0 0 20px 0;
}
.history{
    width: 100%;
    display: flex;
}
.history__elem{
    width: 50%;
}
.history__elem.img{
    margin-right: 15px;
}
.history__img{
    width: 100%;
    height: 100%;
}
.history__elem p{
    font: 300 16px 'Roboto', sans-serif;
    line-height: 1.9;
    color: #363636;
    margin-bottom: 15px;
}
.btn.yl.e{
    width: 190px;
}

/* OUR BUSINESS RELATED PROJECTS */

.title.b{
    width: 450px;
    margin-bottom: 135px;
}
.projects__bg{
    background-color: #f4f4f4;
    width: 100%;
    height: 605px;
    display: flex;
    flex-wrap: wrap;
    padding: 90px 0;
}
.project__elem{
    width: 25%;
    max-width: 251px;
    text-align: center;
}
.project__elem.a{
    margin-bottom: 40px;
}
.project__elem img{
    margin-bottom:30px;
}
.project__elem h4{
    font: 600 16px 'Roboto', sans-serif;
    text-transform: uppercase;
    color: #6a6a6a;
}

/* OUR TEAM MEMBERS */

.section__team{
    padding: 0;
}
.title.t{
    margin-bottom: 140px;
}
.team{
    background-color: #ffc038;
}
.container.a{
    display: flex;
    flex-wrap: wrap;
}
.team__elem{
    width: 20%;
    color: #ffffff;
    text-transform: uppercase;
    text-align: center;
    padding: 60px 0 30px 0;
}
.team__elem img{
    margin-bottom: 15px;
}
.team__elem h4{
    font: 500 16px 'Roboto', sans-serif;
    text-transform: uppercase;
    margin-bottom: 15px;
}
.team__elem p{
    font: 200 16px 'Roboto', sans-serif;
}

/* SUPPORT */

.sup__box__top{
    width: 100%;
    display: flex;
    margin-bottom: 155px;
}
.sup__img{
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
}
.sup__col.cont{
    padding-right: 50px;
    width: 48%;
}
.sup__col.img{
    width: 52%;
}
.sup__col h3{
    font: 600 18px 'Roboto', sans-serif;
    color: #252525;
    margin-bottom: 20px;
}
.sup__col p{
    font: 400 14px 'Roboto', sans-serif;
    color: #363636;
    line-height: 1.9;
    margin-bottom: 20px;
}
.btn.yl{
    background-color: #ffc038;
    font: 700 12.5px 'Open Sans', sans-serif;
    text-transform: uppercase;
    color: #464646;
}
.btn.yl.s{
    width: 190px;
}
.sup__box__bottom_img{
    min-height: 415px;
    background: linear-gradient(rgba(255,192,56,.5),
         rgba(255,192,56,.5)), url(../images/sup_bg.jpg) center no-repeat;
    background-size: cover;
    background-position: center;
    margin: 0;
    width: 100%;
}
.sup__box__bottom_line{
    background-color: #ffc038;
    padding: 25px 25px 25px 50px;
    display: flex;
    justify-content: space-between;
    text-transform: uppercase;
    align-items: center;
}
.sup__box__text{
    font: 500 22px 'Open Sans', sans-serif;
    color: #ffffff;
}
.btn.grey{
    background-color: #ffffff;
    width: 160px;
    color: #3a3a3a;
    font: 500 20px 'Open Sans', sans-serif;
}

/* FOOTER */

.footer{
    background-color: #363636;
    padding: 40px 0;
    width: 100%;
}
.footer h3{
    text-transform: uppercase;
    color: #e6e9ed;
    font: 400 18px 'Roboto', sans-serif;
    margin-bottom: 30px;
}
.footer a{
    text-decoration: none;
    color: #aab2bd;
    font: 300 16px 'Roboto', sans-serif;
    transition: all .2s linear;
}
.footer a:hover{
    color: #ffffff;
}
.footer p{
    margin-bottom: 15px;
}
.footer__box{
    display: flex;
    width: 100%;
    margin-bottom: 30px;
}
.footer__col{
    width: 25%;
}
.footer__social{
    display: flex;
    justify-content: center;
}
.social__icon{
    width: 40px;
    height: 40px;
    border-radius: 3px;
    background-color: #ffc038;
    margin-right: 5px;
    text-align: center;
    margin-bottom: 30px;
    transition: all .2s linear;
}
.social__icon:last-child{
    margin-right: 0;
}
.social__icon i{
    color: #ffffff;
    padding: 12px 0;
}
.social__icon:hover{
    cursor: pointer;
    transform: scale(1.07);
}
.footer__cont{
    color: #aab2bd;
    font: 300 16px 'Roboto', sans-serif;
    text-align: center;
}


